/* ===================================================================== BUTTONS ===================================================================== */

.btn-actions {
    height: 50%;
    border: none;
    background-color: #0C0032;
    color: white;
    transition: 0.2s ease;
}

.btn-actions:hover {
    background-color: #190061;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-edit {
    border-top:2px solid #01051c;
}

.btn-edit:hover {
    color: #7289da;
}

.btn-remove:hover {
    color: #EF3D3D;
}


/* ===================================================================== TASKS ===================================================================== */

.task-actions {
}

.task-border {
    box-shadow: 0 0 50px 2px #3500D3;
}

.task-description {

}

.task-name {
    text-transform: capitalize;
}

.task-section {
    height: 75px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.task-time-left {
}

.task-time-left-text {
    font-size: 250%;
}

.task-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #0C0032;
    margin: 20px;
}

.first-col {
    width: 250px;
}